<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h1>User info</h1>

      <%= form_with(model: @user, local: true) do |form| %>
        <%if @user.errors.any?%>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <div>
          <%= form.label :name %><br>
          <%= form.text_field :name %><br>
        </div>

        <div>
          <%= form.label :profile_image %><br>

          <%= form.file_field :profile_image %><br>
        </div>

        <div>
          <%= form.label :introduction %><br>
          <%= form.text_area :introduction %><br>
        </div>

        <%= form.submit 'Update User' %>

      <% end %>
    </div>
  </div>
</div>